.wrapper {
    display: flex;
    justify-content: space-between;
}

.main, .sidebar {
    margin: 1rem;
    padding: 15px;
}

.main {
    width: 60%;
    height:20rem;
}

.sidebar {
    width: 25%;
    height: 25vh;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    align-items: center;
}


.mission-container{
    width: 200px;
    min-width: 200px;
    max-height: 150px;
    min-height: 150px;
    font-size: 12px;
    background-color:#f0df99;
    border-radius: 9px;
}

.mission-container > p{
    text-align: center;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

.mission-container:hover{
    box-shadow: 0 0 12px rgba(33,33,33,.2);
}

.mission-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.mission-list > li{
    padding: 10px;

}